@model eWellman_financial.Models.Class_Models.Budget

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Budget</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
			<div class="form-group col-md-5">
				@Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label" })
				<div class="col-md-12">
					@Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-md-3">
				@Html.LabelFor(model => model.durationId, null, htmlAttributes: new { @class = "control-label" })
				<div class="col-md-12">
					<select class="form-control" id="durationId" name="durationId"></select>
					@Html.ValidationMessageFor(model => model.durationId, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="row">
			@*<div class="form-group col-lg-3 col-md-3">
				@Html.LabelFor(model => model.goalIncome, htmlAttributes: new { @class = "control-label" })
				<div class="col-md-12">
					<div class="input-group">
						<div class="input-group-addon">&#36;</div>
						<input type="number" value="0.00" min="0" step="0.01"
							   data-number-to-fixed="2" data-number-stepfactor="100"
							   class="form-control" id="goalIncome" name="goalIncome" />
						</div>
						@Html.ValidationMessageFor(model => model.goalIncome, "", new { @class = "text-danger" })
					</div>
			</div>*@

			<div class="form-group col-lg-3 col-md-3">
				@Html.LabelFor(model => model.goalExpense, htmlAttributes: new { @class = "control-label" })
				<div class="col-md-12">
					<div class="input-group">
						<div class="input-group-addon">&#36;</div>
						<input type="number" value="0.00" min="0" step="0.01" 
							   data-number-to-fixed="2" data-number-stepfactor="100" 
							   class="form-control" id="goalExpense" name="goalExpense" />
					</div>
					@Html.ValidationMessageFor(model => model.goalExpense, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script>
	$(function () {
		$(document).ready(function (event) {
			$.ajax({
				type: "GET",
				url: "@Url.Action("JsonSelect", "Budget",null)",
				dataType: "json",
				success: function (response) {
					var frequencies = response.frequencies;
					$.each(frequencies, function (id, info) {
						$("<option>").val(info.Value).text(info.Text).appendTo($("#durationId"))
					});
				}
			}).done(function (data) {
				$("#durationId option[value='3']").prop('selected', true);
				// Optionally alert the user of success here...
			}).fail(function (data) {
			});
		});
	});
</script>