@model eWellman_financial.Models.Class_Models.Budget

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.title</h4>
    <dl class="dl-horizontal">
        <dt>
            Frequency
		</dt>

        <dd>
            @Html.DisplayFor(model => model.duration.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.household.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.household.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalIncome)
        </dt>

		<dd>
			@Model.totalIncome
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalExpense)
        </dt>

		<dd>
			@Model.totalExpense
		</dd>

        <dt>
			Remaining
        </dt>

        <dd>
            @Model.difference
        </dd>
    </dl>
	@*@foreach (var income in Model.incomes) {
		<p>@income.title - @income.amount</p>
	}
	@foreach (var expense in Model.expenses) {
		<p>@expense.title - @expense.amount</p>
	}*@

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
