@using eWellman_financial.Models.View_Models
@model LoginViewModel
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					<label for="Email">Email address</label>
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.RememberMe)
						<label for="RememberMe">Remember Password</label>
					</div>
				</div>
				<hr/>
				<div class="form-group">
					<input type="submit" value="Login" class="btn btn-primary btn-block" />
				</div>
				<div class="text-center">
					<p>
						@Html.ActionLink("Register New Account", "Register")
					</p>
				 @*Enable this once you have account confirmation enabled for password reset functionality*@
					<p>
						@Html.ActionLink("Forgot your password?", "ForgotPassword")
					</p>
				</div>
			}
		</section>
	</div>
	<div class="col-md-4">
		@*<section id="socialLoginForm">
			@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
		</section>*@
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}