@model eWellman_financial.Models.View_Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-row">
		<div class="form-group col-md-6">
			@Html.Label("First Name", new { @class = "control-label" })
			@Html.TextBox("firstName", null, new { @class = "form-control", placeholder = "First Name" })
		</div>
		<div class="form-group col-md-6">
			@Html.Label("Last Name", new { @class = "control-label" })
			@Html.TextBox("lastName", null, new { @class = "form-control", placeholder = "Last Name" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Email", new { @class = "control-label" })
		@Html.TextBox("Email", null, new { @class = "form-control", placeholder = "Enter email" })
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			@Html.Label("Password", new { @class = "control-label" })
			@Html.Password("Password", null, new { @class = "form-control", placeholder = "Password" })
		</div>
		<div class="form-group col-md-6">
			@Html.Label("Confirm Password", new { @class = "control-label" })
			@Html.Password("ConfirmPassword", null, new { @class = "form-control", placeholder = "Confirm Password" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Time Zone", new { @class = "control-label" })
		@Html.DropDownList("timeZone", new SelectList(TimeZoneInfo.GetSystemTimeZones(), "Id", "DisplayName"), new { @class = "form-control" })
	</div>
	<hr/>
	<div class="form-group">
		<input type="submit" class="btn btn-primary btn-block" value="Register" />
	</div>

	<div class="text-center">
		<p>
			@Html.ActionLink("Login to Existing Account", "Login")
		</p>
		@* Enable this once you have account confirmation enabled for password reset functionality*@
		<p>
			@Html.ActionLink("Forgot your password?", "ForgotPassword")
		</p>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(".card-login").css("max-width", "45rem")
	</script>
}
